In [29]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

#### Setting up the kafka producer

In [30]:
producer = KafkaProducer(
    bootstrap_servers=['54.186.29.13:9092'],
    value_serializer=lambda x: dumps(x).encode('utf-8')
)

In [ ]:
#### Demo to check if consumer read the input

In [31]:
producer.send('dem_topic', value={'check': 'kafka'})

In [ ]:
#### Loading the file into the dataframe

In [32]:
# Lets load the data into the dataframe 
df = pd.read_csv("/Users/maneth/Desktop/StockMarketData.csv")

In [33]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,12/31/86,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0,333.879006
1,HSI,1/2/87,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0,330.213013
2,HSI,1/5/87,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0,331.811987
3,HSI,1/6/87,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0,335.906987
4,HSI,1/7/87,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0,338.923013

In [ ]:
#### Loop through and produce data to the consumer

In [ ]:
# We seek a random sample of data and make it into json data 
while True:
    Stock_dict = df.sample(1).to_dict(orient="records")[0]
    producer.send('dem_topic', value=Stock_dict)
    sleep(1)

In [ ]:
producer.flush()